* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #E7CADD;
}

h1 {
    background-color: #86626E;
    color: #DEFFFC;
    height: 5rem;
    text-align: center;
    justify-content: center;
    line-height: 5rem;

}

.choice {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.choice:hover {
    background-color: #DBAFC1;
    cursor: pointer;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1rem;
    gap: 3rem;
}


#user-score {
    font-size: 4rem;
    margin: 3rem;
    gap: 5rem;
}


#comp-score {
    font-size: 4rem;
    margin: 3rem;
    gap: 5rem;
}

.msg-container {
    padding: 2rem;
}

#msg {

    background-color: #86626E;
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;

}